*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;


}
header{
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.headerleft{
    display: flex;
    align-items: center;
}
.logo{
    padding: 24px 30px;
    border-right: 1px solid #ccc;
}
.address{
    padding: 20px;
}
.address h3{
    font-size: 18px;
    margin-bottom: 5px;
}

.address p{
    font-size: 14px;
}